<div *ngIf="irRemoteService.commands && !irRemoteService.isReceiving" style="display: flex">

  <a *ngFor="let command of irRemoteService.commands; index as i"
     class="circle-link" [title]="command.name" [class.red]="deleting"
     (click)="commandClickedHandler(command.name)">
    <i [class]="'fa ' + command.icon" [class.red]="deleting"></i>
  </a>

  <div>
    <div>
      <a class="circle-link bottom" style="right: 20px" title="add" (click)="addCommand()">
        <i class="fa fa-plus"></i>
      </a>
    </div>
    <div>
      <a class="circle-link bottom" style="right: 80px" title="delete" (click)="deleteCommand()">
        <i class="fa fa-trash"></i>
      </a>
    </div>
  </div>
</div>
<div *ngIf="irRemoteService.isReceiving" style="color: white">
  Listening...
</div>
<div *ngIf="!irRemoteService.commands">
  Backend lijkt uit te staan.
</div>

